.container {
  background-color: beige;
  overflow: auto;
}

.outlet {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid red;
  height: 100%;
  overflow: auto;
}

.left {
  width: 180px;
  height: 100vh;
  border-right: 1px solid #ccc;
}

.content {
  flex: 1;
  height: 100vh;
}
