.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: beige;
  overflow: auto;
}

.left {
  width: 180px;
}

.outlet {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid red;
  height: 100%;
}
