<cover class="cover">
  <div class="loading">
    <span class="btnBorder"></span>
    <span class="btnBorder"></span>
    <span class="btnBorder"></span>
    <span class="btnBorder"></span>
    LOADING
  </div>
  <div class="hideCoverBtn">
    CLOSE LOADING
  </div>
</cover>
