<homepage class="homePage">
  <div class="articleLine"></div>
  <div class="articleBoxWrap">
    <div class="articleBox">
      <div class="loading">
        <!-- <span class="btnBorder"></span>
        <span class="btnBorder"></span>
        <span class="btnBorder"></span>
        <span class="btnBorder"></span> -->
        LOADING
      </div>
    </div>
  </div>
  <div class="closeHomePageWrap">
    <div class="closeBox1"></div>
    <div class="closeBox2"></div>
    <div class="closeBox3"></div>
  </div>
</homepage>
