<!-- <homepage class="homePage">
  <div class="cradRoundWrap">
    <div class="round"><a href="/">HOMEPAGE</a></div>
    <div class="topLeftCard"></div>
    <div class="topRightCard"></div>
    <div class="bottomRightCard"></div>
  </div>
  <div class="closeHomePageWrap">
    <div class="closeBox1"></div>
    <div class="closeBox2"></div>
    <div class="closeBox3"></div>
  </div>
</homepage> -->

<homepage class="homePage">
  <div class="homepage_container">
    <div class="card">
      <div class="title">qiakun</div>
      <div class="content">
        <h2>01</h2>
        <h3>qiankun</h3>
        <p>
          WPS 加载项是一套基于 Web 技术用来扩展 WPS 应用程序的解决方案。每个 WPS
          加载项都对应打开了一个网页
        </p>
        <a class="btn_link" href="/2021/02/01/qiankun/">qiankun</a>
      </div>
    </div>
    <div class="card">
      <div class="title">WPS OA 助手</div>
      <div class="content">
        <h2>02</h2>
        <h3>WPS OA 助手</h3>
        <p>
          WPS 加载项是一套基于 Web 技术用来扩展 WPS 应用程序的解决方案。每个 WPS
          加载项都对应打开了一个网页
        </p>
        <a class="btn_link" href="/2022/03/30/wps/">WPS OA 二次开发</a>
      </div>
    </div>
    <div class="card">
      <div class="title">前端综合</div>
      <div class="content">
        <h2>03</h2>
        <h3>前端综合</h3>
        <p>
          WPS 加载项是一套基于 Web 技术用来扩展 WPS 应用程序的解决方案。每个 WPS
          加载项都对应打开了一个网页
        </p>
        <a class="btn_link" href="/2022/02/09/frontend/">前端综合</a>
      </div>
    </div>
    <div class="card">
      <div class="title">webpack 5</div>
      <div class="content">
        <h2>04</h2>
        <h3>webpack 5</h3>
        <p>
          WPS 加载项是一套基于 Web 技术用来扩展 WPS 应用程序的解决方案。每个 WPS
          加载项都对应打开了一个网页
        </p>
        <a class="btn_link" href="/2020/12/09/webpack/">webpack 5</a>
      </div>
    </div>
  </div>
  <div class="closeHomePageWrap btn_link">
    <div class="closeBox1"></div>
    <div class="closeBox2"></div>
    <div class="closeBox3"></div>
  </div>
</homepage>
