<div class="menuList">
  <span class="changeFooter">显底</span>
  <span class="closeShadow">显影</span>
  <span class="perception-info">
    <a href="/perception" class="perception-text">感悟</a>
  </span>
</div>
