<div class="menuList">
  <span class="changeFooter">收底</span>
  <span class="closeShadow">切影</span>
  <span class="perception-info">
    <a href="/perception" class="perception-text">感悟</a>
  </span>
</div>
