<div class="menuList">
  <div class="list">
    <span class="changeFooter">显底</span>
    <span class="hideMenu changeFooter">收起菜单</span>
    <span class="closeShadow">显影</span>
    <span class="perception-info">
      <a href="/informal/computer" class="perception-text">计算机</a>
    </span>
    <span class="perception-info">
      <a href="/informal/network" class="perception-text">网络原理</a>
    </span>
    <span class="perception-info">
      <a href="/informal/perception" class="perception-text">感悟</a>
    </span>
  </div>
</div>
