<preview class="previewImage">
  <div class="infoWrap">
    <span class="info"></span>
  </div>
  <div class="left" id="upPage">上一张</div>
  <div class="imgContainer" id="img_container"></div>
  <div class="right" id="nextPage">下一张</div>
  <div class="control">
    <span class="fangda">放大</span>
    <span class="suoxiao">缩小</span>
    <span class="xuanzhuan">旋转</span>
  </div>
</preview>
