<scrollBar class="scrollBar_wrap">
  <div class="scroll_top">
    <div class="topBar"></div>
  </div>
  <div class="scrollbottom">
    <div class="bottomBar"></div>
  </div>
  <div class="scrollLeft">
    <div class="leftBar"></div>
  </div>
  <div class="scrollright">
    <div class="rightBar"></div>
  </div>
</scrollBar>
