.hasImage {
  height: calc(100vh - 157px);
  // transition: all 0.3s ease;

  .hasImage-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .article-entry-wrap {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .article-entry {
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: none;
      }

      .browserCover {
        flex: 1;
      }
    }
  }
}

.hasImage-hideFooter {
  height: calc(100vh - 88px);
  // transition: all 0.3s ease;
}

.hasImage-hideHeader {
  height: calc(100vh - 20px);
  // transition: all 0.3s ease;
  // border-bottom: none !important;
}
