.article-entry-wrap {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  .article-toc {
    height: calc(100vh - 225px);
    position: sticky;
    top: 0;
    padding-left: 20px;
    padding-bottom: 5px;
    overflow-y: auto;
    display: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    .toc-header {
      font-size: 16px;
    }

    .toc-level-3>a {
      font-weight: 700;
      color: #eee;
    }

    li ol {
      margin-left: 20px;
    }

    a {
      color: #ccc;
      display: inline-block;
      width: 100%;
      font-size: 12px;
    }

    a:hover {
      // padding: 0px 5px;
      font-weight: 700;
      color: #d9ff00 !important;
    }

    .select-toc {
      color: gold !important;
    }
  }
}
