@media screen and (max-width: 800px) {
  .browserCover {
    margin-bottom: 13px;
  }
  .coverInfo {
    display: none;
  }

  .coverInfoTop {
    display: none;
  }
}

.article {
  .browserCover {
    width: 100%;
    height: calc(100vh - 355px);
    animation-name: imageAnimation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    transition: all 0.5s ease;
  }

  @keyframes imageAnimation {
    0% {
      background-image: url(./img/sea.jpg);
      background-size: 100% 100%;
    }

    50% {
      background-image: url(./img/c1.png);
      background-size: 100% 100%;
    }

    100% {
      background-image: url(./img/sea.jpg);
      background-size: 100% 100%;
    }
  }

  .coverInfo {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
  }

  .coverInfoTop {
    border-top: 1px solid #999;
  }
}
