.wrap-side-operation {
  position: fixed;
  right: 87px;
  // right: 39px;
  top: 27px;
  z-index: 999;
  font-size: 14px;
  .icon-plane {
    color: #fff;
    text-shadow: 1px 1px 1px #509eb7;
    opacity: 0.7;
    font-size: 52px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    display: block;
  }
}
.mod-side-operation {
  box-sizing: border-box;
  width: 35px;
  text-align: center;
  // line-height: 35px;
  vertical-align: middle;
}
.jump-container {
  &:hover {
    .icon-back {
      background: rgba(36, 193, 246, 0.9);
    }
  }
}
.jump-container,
.toc-container {
  position: relative;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 800px) {
  .toc-container {
    opacity: 0.8;
  }
}
.jump-plan-container {
  position: absolute;
  top: -11px;
  left: -4px;
  width: 50px;
  height: 61px;
  overflow: hidden;
  .jump-plane {
    display: block;
    position: absolute;
    width: 42px;
    height: 66px;
    transform: translateY(68px);
    left: -2px;
  }
}
.mod-side-operation__jump-to-top {
  .icon-back {
    transition: 0.3s;
    color: #fff;
    background: #ccc;
    transform: rotate(90deg);
    font-size: 35px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    display: block;
    &:hover {
      background: #24c1f6;
      color: #24c1f6;
    }
  }
}

.toc-container.tooltip-left {
  box-shadow: 0 0 5px #3e3758;
  // box-shadow: 0 0 5px #3a3352;
  box-sizing: border-box;
  border-radius: 35px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    color: #d9ff00;
    box-shadow: 0 0 12px #ccc inset;
    .icon-font {
      color: #d9ff00;
    }
  }
  .icon-font {
    font-size: 20px;
    line-height: 35px;
    color: #ffd900;
    font-weight: 700;
  }
  .catalog {
    font-size: 24px;
    color: #ffd900;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
  }
  .tooltip {
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
  }
  .tooltip-east .tooltip-content {
    // max-height: 320px;
    text-align: left;
    padding: 10px 10px;
    right: 4.4em;
    max-width: 250px;
    width: initial;
    font-size: 14px;
    transform-origin: 100% 100%;
    transform: translate3d(0, -10px, 0) rotate3d(1, 1, 1, -30deg);
    a {
      color: #ddd;
      display: inline-block;
      width: 100%;
    }
    &::after {
      top: 30px;
    }
    .toc-article {
      max-height: 500px;
      max-width: 250px;
      overflow: auto;
    }
    .toc-article li ol,
    .toc-article li ul {
      margin-left: 20px;
    }
    .toc-article li {
      white-space: nowrap;
      cursor: pointer;
      & a:hover {
        color: black;
        background-color: #2580b3;
        border-radius: 5px;

        .toc-text {
          background-color: #2580b3;
          display: inline-block;
          height: 100%;
          border-radius: 5px;
        }
      }
    }
  }
  .tooltip:hover .tooltip-content {
    transform: translate(0);
  }
}
