@media screen and (min-width: 800px) {
  .narrow {
    margin-left: 7.6923%;
    width: 50%;
    padding: 22px 20px 1px 20px;
    // background-image: linear-gradient(60deg, #29323c, #44526b);
    background: rgba(225, 225, 225, 0.1);
    // transition: all 0.1s ease;
  }

  .artNobb {
    border-top: none !important;
  }
}
