@media screen and (min-width: 800px) {
  .narrow {
    margin-left: 7.6923%;
    width: 55%;
    padding: 22px 20px 1px 20px;
    background: rgba(225, 225, 225, 0.1);
  }

  ._narrow {
    margin-left: 20%;
    width: 50%;
    padding: 22px 20px 1px 20px;
    background: rgba(225, 225, 225, 0.1);
  }

  .artNobb {
    border-top: none !important;
  }
}
