@media screen and (min-width: 800px) {
  .narrow {
    margin-left: 7.1%;
    width: 55%;
    padding: 22px 20px 1px 20px;
    background: rgba(225, 225, 225, 0.1);
  }

  ._narrow {
    margin-left: 22.96%;
    width: 46.5%;
    padding: 22px 20px 1px 20px;
    background: rgba(225, 225, 225, 0.1);
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
  }

  .artNobb {
    border-top: none !important;
  }
}

@media screen and (min-width: 2048px) {
  .narrow {
    margin-left: 13.7%;
    width: 40%;

    padding: 22px 20px 1px 20px;
    background: rgba(225, 225, 225, 0.1);
  }

  ._narrow {
    margin-left: 25%;
    width: 35%;

    padding: 22px 20px 1px 20px;
    background: rgba(225, 225, 225, 0.1);
  }

  .artNobb {
    border-top: none !important;
  }
}
