.homePage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: linear-gradient(
    135deg,
    #e9defa,
    #a8edea,
    #fbfcdb,
    #d1e8f3,
    #e0c3fc
  );
  background-size: 150% 10%;
  animation: bgmove 15s infinite;
  transition: all 0.3s ease;
  display: none;

  .articleLine {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 5px;
    background-color: #ffe23f;
    display: none;
  }

  .articleBoxWrap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;

    .articleBox {
      .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #dedede;
        font-size: 8rem;
        padding: 0 45px;
        &::after {
          content: "LOADING";
          position: absolute;
          top: 0;
          left: 0;
          color: transparent;
          padding: 0 45px;
          background-image: linear-gradient(
            to right,
            #c23616,
            #192a56,
            #00d2d3,
            yellow,
            #6d214f,
            #2e86de,
            #4cd137,
            #e84118
          );
          /*背景绘制区域，当值为text的时候代表设置了文字的镂空效果，
            但是前提时文字的颜色为透明色*/
          background-clip: text;
          -webkit-background-clip: text;
          /*利用裁切来创建元素的可显示区域，circle表示创建了圆形，
            100px表示圆形的直径，0%和50%表示圆形的圆心，
            圆形的直径和圆形的圆心利用at关键字隔开*/
          clip-path: circle(100px at 0% 50%);
          animation: moveLoading 5s infinite;
        }
        .btnBorder {
          position: absolute;
          &:nth-child(1) {
            width: 100%;
            height: 10px;
            top: 0;
            left: 0;
            background: linear-gradient(to right, transparent, #ffeb3b);
            animation: animate1 2s linear infinite;
            animation-delay: 0s;
          }
          @keyframes animate1 {
            0% {
              left: -100%;
            }
            50%,
            100% {
              left: 100%;
            }
          }
          &:nth-child(2) {
            width: 10px;
            height: 100%;
            top: -100%;
            right: 0;
            background: linear-gradient(to bottom, transparent, #9bfbc1);
            animation: animate2 2s linear infinite;
            animation-delay: 0s;
          }

          @keyframes animate2 {
            0% {
              top: -100%;
            }
            50%,
            100% {
              top: 100%;
            }
          }
          &:nth-child(3) {
            width: 100%;
            height: 10px;
            bottom: 0;
            right: -100%;
            background: linear-gradient(to left, transparent, #add5ff);
            animation: animate3 2s linear infinite;
            // animation-delay: 1s;
            animation-delay: 0s;
          }

          @keyframes animate3 {
            0% {
              right: -100%;
            }
            50%,
            100% {
              right: 100%;
            }
          }
          &:nth-child(4) {
            width: 10px;
            height: 100%;
            bottom: -100%;
            left: 0;
            background-image: linear-gradient(to top, transparent, #fed6e3);
            animation: animate4 2s linear infinite;
            // animation-delay: 1.5s;
            animation-delay: 0s;
          }

          @keyframes animate4 {
            0% {
              bottom: -100%;
            }
            50%,
            100% {
              bottom: 100%;
            }
          }
        }
      }
    }

    .artWrap_a {
      width: 300px;
      height: 150px;
      box-shadow: 0 0 10px #ccc;
      margin-bottom: 10px;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
    }

    .homePageArticleWrap {
      & > :nth-child(odd) {
        background-color: #a8edea;
        transform: translateX(calc(-50% - 10px));
        &::before {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background-color: gold;
          border: 3px solid rgb(6, 116, 0);
          position: absolute;
          right: -18px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      & > :nth-child(even) {
        background-color: #e0c3fc;
        transform: translateX(calc(50% + 10px));
        &::before {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background-color: gold;
          border: 3px solid rgb(6, 116, 0);
          position: absolute;
          left: -18px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .closeHomePageWrap {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;

    .closeBox1,
    .closeBox2,
    .closeBox3 {
      position: absolute;
      width: 35px;
      height: 35px;
      border-radius: 4px;
      transform: translateX(-50%) rotate(45deg);
      left: 50%;
    }

    .closeBox1 {
      border-top: 4px solid gold;
      border-left: 4px solid gold;
      top: 10px;
    }

    .closeBox2 {
      border-top: 3px solid gold;
      border-left: 3px solid gold;
      top: 20px;
    }

    .closeBox3 {
      border-top: 2px solid gold;
      border-left: 2px solid gold;
      top: 30px;
    }
  }
}

@media screen and (max-width: 800px) {
  .homePage {
    display: none;
  }
}

@keyframes bgmove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes moveLoading {
  0% {
    clip-path: circle(100px at 20% 50%);
  }
  50% {
    clip-path: circle(100px at 100% 50%);
  }
  100% {
    clip-path: circle(100px at 0% 50%);
  }
}
