@font-face {
  font-family: "iconfont";
  src: url("./fonts/iconfont.eot");
  /* IE9*/
  src: url("./fonts/iconfont.eot#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/iconfont.woff") format("woff"),
    /* chrome, firefox */ url("./fonts/iconfont.ttf") format("truetype"),
    url("./fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "iconfont" !important;
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  background-image: linear-gradient(-225deg, #fff 0%, #fff 100%) !important;

  .icon-book:before {
    content: "\e6fe";
    color: rgba(0, 0, 0, 0.65);
  }

  .icon-price-tags:before {
    content: "\e6f9";
    color: rgba(0, 0, 0, 0.65);
  }

  .icon-tuding:before {
    content: "\e651";
    color: rgba(0, 0, 0, 0.65);
  }

  .icon-search:before {
    content: "\E65B";
    color: rgba(0, 0, 0, 0.25);
  }

  .scroll_top {
    .topBar {
      background: rgba(225, 225, 225, 0.02) !important;
      box-shadow: 0 0 3px #ccc inset;
    }
  }

  .scrollbottom {
    .bottomBar {
      background: rgba(225, 225, 225, 0.02) !important;
      box-shadow: 0 0 3px #ccc inset;
    }
  }

  .scrollright {
    .rightBar {
      background: rgba(225, 225, 225, 0.02) !important;
      box-shadow: 0 0 3px #ccc inset;
    }
  }

  .scrollLeft {
    .leftBar {
      background: rgba(225, 225, 225, 0.02) !important;
      box-shadow: 0 0 3px #ccc inset;
    }
  }

  &.show {
    .anm-canvas {
      display: none !important;
      position: fixed;
    }
  }

  &.show {
    background-color: #eaeaea !important;
  }

  .left-col {
    background-image: linear-gradient(to bottom, #fbf6fb 0%, #d7fffe 100%);
    box-shadow: initial;

    .intrude-less {
      #header {
        .switch-btn {
          .home {
            display: flex;
            justify-content: center;
            align-items: center;

            .homeIcon {
              width: 45px;
              height: 45px;
              // background: url(../css/img/home.png) no-repeat;
              background: url(../css/img/home_light.svg) no-repeat;
              background-size: 45px 45px;
              cursor: pointer;
            }
          }

          .tips-box {
            .tips-text {
              background-image: linear-gradient(
                -20deg,
                #fff1eb 0%,
                #ace0f9 100%
              );
              border-left: none !important;
              border-right: none !important;

              .tips-a {
                color: #333;
              }

              &:hover {
                background-color: #f7f6e2 !important;
                background-image: linear-gradient(
                  to right,
                  #fff1eb 0%,
                  #ace0f9 100%
                );
              }
            }

            &::before {
              border-color: transparent transparent rgba(225, 225, 225, 0.95) !important;
            }
          }
        }
      }

      .inner {
        .profilepic {
          border: 5px solid #d7fffe !important;
        }

        .header-author {
          a {
            color: #333 !important;
          }
        }

        .header-menu {
          .menu-text {
            background-image: linear-gradient(-20deg, #fff1eb 0%, #ace0f9 100%);
            opacity: 1;
            box-shadow: 0 0 6px #c9d9d9 !important;

            a {
              color: #333 !important;
            }

            &:hover {
              background-image: linear-gradient(
                to right,
                #fff1eb 0%,
                #ace0f9 100%
              );
            }
          }
        }
      }
    }

    .music {
      .aplayer.aplayer-fixed {
        .aplayer-lrc {
          p {
            background-image: linear-gradient(
              -225deg,
              #262929,
              #278ab9 56%,
              #6ac77c
            );
          }
        }

        .aplayer-list {
          background-image: linear-gradient(225deg, #fbf6fd 0, #d7fffe);

          .aplayer-list-author {
            color: #333;
          }

          .aplayer-list-cur {
            background-color: gold !important;
          }

          ol {
            li {
              box-shadow: 0 0 1px #ccc inset;
              color: #333;
            }

            li.aplayer-list-light {
              background-image: linear-gradient(225deg, #fbf6fd 0, #d7fffe);
              color: #9acd32;
            }

            li:hover {
              background-image: linear-gradient(225deg, #fbf6fd 0, #d7fffe);
            }
          }
        }

        .aplayer-body {
          background-image: linear-gradient(225deg, #fbf6fd 0, #d7fffe);

          .aplayer-info {
            background-image: linear-gradient(225deg, #fbf6fd 0, #d7fffe);
            box-shadow: 0 0 10px #fdfdfd inset;

            .aplayer-music {
              color: #333;
            }

            .aplayer-controller {
              .aplayer-volume-wrap {
                .aplayer-volume-bar-wrap {
                  .aplayer-volume-bar {
                    background: #ccc;

                    .aplayer-volume {
                      background: #333 !important;
                    }
                  }
                }
              }

              .aplayer-time {
                .aplayer-icon {
                  path {
                    fill: #333;
                  }
                }
              }
            }
          }

          .aplayer-pic {
            box-shadow: 0 0 10px #fff inset;
          }
        }
      }
    }

    .motto {
      font-size: 20px;
      font-weight: 700;

      .motto-text {
        display: inline-block;
        cursor: default;

        &:hover {
          text-shadow: none;
        }
      }
    }
  }

  .tools-col .tools-section .search-ul .search-li:hover {
    background: #ddd;
  }

  .toc-container.tooltip-left .tooltip-east .tooltip-content {
    background-image: linear-gradient(
      to bottom,
      #fff1eb 0%,
      #ace0f9 100%
    ) !important;

    a {
      color: #333;
    }
  }

  .toc-container.tooltip-left {
    .icon-font {
      color: #333;
    }

    &:hover {
      .icon-font {
        color: #ffd900;
      }
    }
  }

  .toc-container.tooltip-left .tooltip-east .tooltip-content .toc-article li {
    a:hover {
      color: #9b23ea;
      background-color: #d7fffe;

      .toc-text {
        background-color: #d7fffe;
      }
    }
  }

  .mid-col {
    .main {
      background-color: #f4f5f5 !important;
      box-shadow: initial;
      color: #333;

      .changeSize {
        color: #333;
        background-color: transparent;
        box-shadow: 0 0 10px #999;

        .change-info {
          color: #333;
        }

        &:hover {
          box-shadow: 0 0 10px #999;
          color: #ffd900;

          &::before {
            color: #333;
          }
        }
      }
    }

    #scrollTop {
      border-color: transparent transparent #ccc;

      &::before {
        color: #d2e2cd;
      }

      &:hover {
        border-color: transparent transparent #d2e2cd;
      }
    }

    .article {
      background-color: #f4f5f5 !important;
      box-shadow: initial;

      .coverInfo {
        color: #333;
      }

      .article-entry-wrap {
        .article-toc {
          .toc-header {
            color: #333;
          }

          .toc-level-3 > a {
            font-weight: 700;
            color: #333;
          }

          a {
            color: #333;
          }

          a:hover {
            color: #9acd32 !important;
          }

          .select-toc {
            color: #007fff !important;
          }
        }
      }

      .article-title {
        color: #333;
      }

      .article-inner {
        .art-title {
          a:hover {
            color: gold;
          }
        }

        .archive-article-date {
          color: hsla(0, 0, 0, 0.65);
        }
      }

      .narrow {
        background: #fff;
      }

      .article-entry {
        blockquote {
          background: rgba(225, 225, 225, 0.6);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: #333 !important;
        }

        h3 {
          border-bottom: 1px solid #ccc;
        }

        p {
          color: #333 !important;

          code {
            // background: yellowgreen;
            background: rgba(0, 0, 0, 0.2);
            color: #ff0068;
          }
        }

        ul {
          li {
            color: #333;

            &::before {
              border: 1px solid #666;
              background: #666;
            }
          }
        }
      }

      .article-info {
        border-top: 1px solid #ccc;

        .article-more-link {
          .article-more-a {
            color: #333;
            box-shadow: 0 0 3px #c9d9d9;

            &:hover {
              background-color: #ccc;
            }
          }
        }
      }

      .declare {
        background-color: rgba(0, 0, 0, 0.1);
        color: #333;
      }
    }

    .wrap-side-operation {
      .mod-side-operation {
        .toc-container {
          background-color: transparent;
          box-shadow: 0 0 10px #999;
        }
      }
    }
  }

  .archives-wrap {
    background-color: #fff !important;

    .archive-year-wrap {
      background-color: #eee;

      .archive-year {
        color: #333;

        &:hover {
          color: gold;
        }
      }
    }

    .archives {
      .archive-article-title {
        color: #333;

        &:hover {
          color: gold;
        }
      }

      .archive-article-inner {
        .archive-article-header {
          background-color: #eee;
        }
      }
    }
  }

  .perception {
    .perception-wrap {
      color: #333;
    }
  }

  #footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 1 !important;

    .outer {
      box-shadow: initial;
      background-color: #f4f5f5;
      color: #999 !important;

      .scrollWrap {
        #scrollLine {
          border: 1px solid #ccc !important;

          #line {
            background-color: #ccc !important;
          }
        }

        #scrollTop {
          border-color: transparent transparent #ccc;

          &::before {
            color: #ccc;
          }

          .scroll-count {
            color: #999;
          }

          &:hover {
            border-color: transparent transparent #ccc;

            .scroll-count {
              color: #333;
            }

            &::after {
              color: #999;
            }
          }
        }
      }
    }
  }

  #gitalk-container {
    // padding: 0 10px;
    .gt-container {
      padding: 0 8px 15px 8px;
      box-shadow: 0 0 3px #fdfdfd inset;

      .gt-counts {
        color: #333;
      }

      .gt-user-name {
        color: #333;
      }

      .gt-btn-preview {
        box-shadow: 0 0 5px #fff inset;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        color: #333;
      }

      .gt-btn-login {
        box-shadow: 0 0 5px #fff inset;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        color: #333;
      }

      .gt-copyright {
        border-top: none;
      }

      .gt-header-textarea {
        border: none;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        color: #333;
      }

      .gt-header-preview {
        border: none;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

        p {
          color: #000;
          font-size: 14px;
        }
      }

      .gt-comment-content:hover {
        box-shadow: 0 0 5px #999 inset;
      }

      .gt-comment-admin .gt-comment-content {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      }

      .gt-comment-body {
        P {
          color: #333 !important;
        }
      }
    }
  }
}

.lightToolsCol {
  .tools-section {
    background-color: #f4f5f5;
    color: #333;
    box-shadow: none;

    .search-wrap {
      .icon {
        color: #ccc;
      }

      .search-ipt {
        color: #333;
        border-bottom: 2px solid #ccc;
        font-family: initial;

        &::-webkit-input-placeholder {
          color: #ccc;
        }
      }
    }

    .search-ul {
      .search-title {
        color: #333;

        .icon {
          margin-right: 10px;
          color: #333;
        }
      }

      .search-time {
        color: #333;
      }

      .search-tag {
        color: #333;
      }
    }
  }

  .header-menu.tools-nav ul {
    background-color: #c9c9c9;
  }

  .header-menu.tools-nav ul a.active {
    background: #dedede;
    color: #333;
  }
}
