.profilepic {
  text-align: center;
  display: block;
  border: 5px solid #fff8d6;
  border-radius: 300px;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #88acdb;
  -webkit-transition: all 0.3s ease;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
}
.header-author {
  text-align: center;
  margin: 0.67em 0;
  font-family: Roboto, "Roboto", serif;
  font-size: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.header-subtitle {
  text-align: center;
  color: #999;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.header-subtitle {
  padding: 0 24px;
}

.tools-col .tools-section .search-wrap .icon {
  position: absolute;
  right: -3px;
  top: 7px;
}

.tools-col .tools-section .search-wrap .search-ipt {
  width: 310px;
}

.social {
  .icon-wrap {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-right: 5px;
    &:last-child {
      margin-right: 0px;
    }
    .github {
      background: url(./img/github.png) no-repeat;
      background-color: #fff;
      background-size: 100% 100%;
    }
    .juejin {
      background: url(./img/juejin.png) no-repeat;
      background-color: #007fff;
      background-size: 100% 100%;
    }
    .zhihu {
      background: url(./img/zhihu.png) no-repeat;
      background-color: #fff;
      background-size: 100% 100%;
    }
  }
}
