.music {
  position: absolute;

  .aplayer.aplayer-fixed {
    max-width: 240px;
    left: 20px;
    bottom: 20px;

    .aplayer-icon-back,
    .aplayer-icon-forward,
    .aplayer-icon-menu,
    .aplayer-icon-play {
      position: absolute;
      bottom: 27px;
      width: 16px;
      height: 16px;
    }

    .aplayer-icon-back {
      right: 58px;
    }

    .aplayer-icon-play {
      right: 39px;
    }

    .aplayer-icon-forward {
      right: 20px;
    }

    .aplayer-icon-menu {
      right: -1px;
    }

    .aplayer-lrc {
      max-width: 242px;
      top: 36px;
      left: 19px;
      height: 30px;
      z-index: 0;
      opacity: 0;
      transition: all 0.5s ease;
      text-shadow: none;

      p {
        font-size: 14px;
        background-image: linear-gradient(
          -225deg,
          #2cd8d5 0%,
          #c5c1ff 56%,
          #ffbac3 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    .hideLrc {
      opacity: 1;
      transition: all 0.5s ease;
    }

    .aplayer-list {
      position: relative;
      border: none;
      max-height: 261px;
      margin-bottom: 57px;
      // background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
      background: rgba(0, 0, 0, 0.5);
      z-index: 88;
      text-align: left;
      .aplayer-list-author {
        color: #c9c9c9;
      }
      .aplayer-list-cur {
        background-color: gold !important;
      }
      ol {
        li {
          // box-shadow: 0 0 1px #ccc inset;
          border-top: none;
          color: #c9c9c9;
          background: transparent;

          .aplayer-list-index {
            color: #999;
          }
        }
        li.aplayer-list-light {
          // background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
          background: rgba(0, 0, 0, 0.5);
          color: gold;
        }
        li:hover {
          color: #c4e759;
          // background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
        }
      }
    }

    .aplayer-body {
      max-width: 222px;
      height: 55px;
      left: 20px;
      bottom: 20px;
      // border-top-right-radius: 10px;
      // border-bottom-left-radius: 10px;
      left: -66px;
      visibility: hidden;
      transition: all 0.3s ease;
      // background-image: linear-gradient(to right, #2b5876 0%, #4e4376 100%);
      background: rgba(0, 0, 0, 0.5);

      .aplayer-controller {
        display: none;
      }

      .aplayer-info {
        // background-image: linear-gradient(to right, #2b5876 0%, #4e4376 100%);
        background: transparent;
        border: none;
        width: calc(100% - 47px);
        padding: 5px 0px 0px;
        height: 55px;
        margin-left: 57px;
        // box-shadow: 0 0 3px #999 inset;

        .aplayer-title {
          font-size: 12px;
        }

        .aplayer-music {
          padding-bottom: 1px;
          width: calc(100% - 76px);
        }

        .aplayer-controller {
          .aplayer-bar-wrap .aplayer-bar {
            position: absolute;
            bottom: 25px;
            height: 2px;
            width: calc(100% - 6px);
            background: #cdcdcd;
          }
          .aplayer-time {
            bottom: 5px;
            height: 15px;
            .aplayer-time-inner {
              vertical-align: middle;
              position: absolute;
              left: -88px;
            }
          }
          .aplayer-volume-wrap {
            .aplayer-volume-bar-wrap {
              .aplayer-volume-bar {
                background: #999;

                .aplayer-volume {
                  background: #ccc !important;
                }
              }
            }
          }

          .aplayer-time {
            .aplayer-icon {
              path {
                fill: #ccc;
              }
            }
          }
        }
      }

      .aplayer-miniswitcher {
        display: none;
      }

      .aplayer-pic {
        visibility: hidden;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px #fff inset;
        height: 55px;
        width: 55px;
      }
    }

    .showBody {
      visibility: visible;
      left: 20px;
      transition: all 0.3s ease;
      .aplayer-pic {
        visibility: visible;
        transition: all 0.3s ease;
      }

      .aplayer-controller {
        display: flex;
      }
    }
  }

  .aplayer {
    background: transparent;

    .aplayer-miniswitcher {
      border-radius: 0;
    }
  }

  .aplayer.aplayer-arrow .aplayer-icon-loop,
  .aplayer.aplayer-arrow .aplayer-icon-order,
  .aplayer.aplayer-mobile .aplayer-icon-volume-down {
    display: inline-block;
  }
}
