#page-nav {
  text-align: center;
  margin-top: 18px;
  .page-number {
    width: 20px;
    height: 25px;
    display: inline-block;
    color: #fff;
    line-height: 25px;
    font-size: 12px;
    margin: 0 5px 23px;
    border-radius: 2px;
    box-shadow: 0 0 3px #ccc inset;

    &:hover {
      color: gold;
      font-weight: 700;
      box-shadow: 0 0 5px #ccc inset;
    }
  }
  .current {
    cursor: pointer;
    font-weight: 700;
    color: gold;
    box-shadow: 0 0 5px #ccc inset;
    font-weight: 700;
  }
  .extend {
    color: #ccc;
    margin: 0 27px;
    opacity: 1;
    font-size: 14px;
    &:hover {
      color: gold;
    }
  }

  .extend.disabled {
    &:hover {
      color: #ccc;
    }
  }
  &:hover {
    .extend {
      opacity: 1;
    }
  }
}

.container {
  #page-nav {
    text-align: center;
    margin-top: 18px;
    .page-number {
      width: 20px;
      height: 25px;
      display: inline-block;
      color: #666;
      line-height: 25px;
      font-size: 12px;
      margin: 0 5px 23px;
      border-radius: 2px;
      box-shadow: 0 0 4px #c9c9c9;

      &:hover {
        box-shadow: 0 0 3px #9c9c9c;
        color: #000;
        font-weight: 700;
      }
    }
    .current {
      box-shadow: 0 0 3px #9c9c9c;
      cursor: default;
      color: #000;
      font-weight: 700;
    }
    .extend {
      color: #666;
      margin: 0 27px;
      opacity: 1;
      font-size: 14px;
      &:hover {
        color: gold;
      }
    }

    .extend.disabled {
      &:hover {
        color: #666;
      }
    }
    &:hover {
      .extend {
        opacity: 1;
      }
    }
  }
}
