.perception {
  padding-bottom: 35px;

  .perception-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;
    margin-bottom: 5px;

    .title {
      color: gold;
    }
  }
}
