.previewImage {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 99999;
  display: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: gold;

  .infoWrap {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;

    .info {
      display: none;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .imgContainer {
    width: 100%;
    height: 100%;
    line-height: 100vh;
    text-align: center;
    overflow: auto;

    img {
      max-width: 100vw;
    }

    .dot_wrap {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);

      .img_dot {
        margin-right: 3px;
        width: 7px;
        height: 7px;
        border-radius: 7px;
        background-color: #d7fffe;
        border: 1px solid #ccc;
      }

      .current_dot {
        background-color: gold;
        border: 1px solid gold;
      }
    }
  }

  .left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
    cursor: pointer;
    display: none;
  }

  .right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
    cursor: pointer;
    display: none;
  }

  @media screen and (max-width: 800px) {
    .control {
      display: none;
    }
  }

  @media screen and (min-width: 800px) {
    .control {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 50px;

      .fangda {
        cursor: pointer;
      }

      .suoxiao {
        margin: 0 20px;
        cursor: pointer;
      }

      .xuanzhuan {
        cursor: pointer;
      }
    }
  }
}
