#container {
  position: relative;

  .scroll_top {
    box-sizing: border-box;
    padding-right: 10px;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0px;
    // border-radius: 5px;
    display: none;

    .topBar {
      width: 0%;
      height: 100%;
      // border-radius: 5px;
      background-image: linear-gradient(to top, #2b5876 0%, #4e4376 100%);
      box-shadow: 0 0 2px #ccc inset;
    }
  }

  .scrollbottom {
    box-sizing: border-box;
    padding-right: 10px;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0px;
    // border-radius: 5px;
    transform: rotateY(180deg);
    display: none;

    .bottomBar {
      width: 0%;
      height: 100%;
      // border-radius: 5px;
      background-image: linear-gradient(to bottom, #2b5876 0%, #4e4376 100%);
      box-shadow: 0 0 2px #ccc inset;
    }
  }

  .scrollright {
    box-sizing: border-box;
    padding-top: 10px;
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0px;
    // border-radius: 5px;
    transform: rotateX(180deg);
    display: block;

    .rightBar {
      width: 100%;
      height: 0%;
      // border-radius: 5px;
      background-image: linear-gradient(to left, #4e4376 0%, #2b5876 100%);
      box-shadow: 0 0 2px #ccc inset;
    }
  }

  .scrollLeft {
    box-sizing: border-box;
    padding-top: 10px;
    width: 10px;
    height: 100%;
    position: absolute;
    left: 0px;
    // border-radius: 5px;
    display: block;

    .leftBar {
      width: 100%;
      height: 0%;
      // border-radius: 5px;
      background-image: linear-gradient(to right, #4e4376 0%, #2b5876 100%);
      box-shadow: 0 0 2px #ccc inset;
    }
  }
}
