.body-wrap::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

@media screen and (min-width: 800px) {
  .body-wrap {
    padding: 0 10px;
  }

  .body-wrap.onscroll {
    padding: 0 2px 0 10px;
  }
}

.body-wrap.onscroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:decrement {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: gold;
}
