.share {
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 9px;
  cursor: pointer;

  &:hover {
    color: gold;

    #qrcode {
      display: block;
    }
  }

  #qrcode {
    position: absolute;
    width: 58px;
    height: 58px;
    top: -8px;
    right: 30px;
    border: 2px solid gold;
    display: none;

    &::before {
      content: "";
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid gold;
      position: absolute;
      right: -9px;
      top: 8px;
    }
  }
}

@media screen and (max-width: 800px) {
  .share {
    display: none;
  }
}
