@media screen and (min-width: 800px) {
  .isShowShadow {
    box-shadow: none !important;
    border: 2px solid rgba(225, 225, 225, 0.1) !important;

    .browserCover {
      height: calc(100vh - 358px);
    }
  }

  .isShow-shadow {
    box-shadow: none !important;
    border: 2px solid rgba(225, 225, 225, 0.1) !important;
    line-height: 34px !important;
  }

  .tips-box {
    .toggleShadow {
      &:first-child {
        box-shadow: none !important;
        border: none;
      }

      &:nth-child(2) {
        box-shadow: none !important;
        border: none;
      }

      &:last-child {
        box-shadow: none !important;
        border: none;
      }
    }
  }

  .tip-show {
    .toggleShadow {
      &:first-child {
        box-shadow: none !important;
        border: 2px solid rgba(225, 225, 225, 0.1);
      }

      &:nth-child(2) {
        box-shadow: none !important;
        border: 2px solid rgba(225, 225, 225, 0.1);
      }

      &:last-child {
        box-shadow: none !important;
        border: 2px solid rgba(225, 225, 225, 0.1);
      }
    }
  }

  .isShowShadow-a {
    a {
      box-shadow: none !important;
      border: 2px solid rgba(225, 225, 225, 0.1) !important;
      padding: 1px 5px;
    }
  }
}
