@media screen and (min-width: 800px) {
  .isShowShadow {
    box-shadow: 0 0 2px #ccc inset !important;
  }

  .isShow-shadow {
    box-shadow: 0 0 2px #ccc inset !important;
  }

  .tips-box {
    .toggleShadow {
      &:first-child {
        box-shadow: none !important;
        border: none;
      }

      &:nth-child(2) {
        box-shadow: none !important;
        border: none;
      }

      &:last-child {
        box-shadow: none !important;
        border: none;
      }
    }
  }

  .tip-show {
    .toggleShadow {
      &:first-child {
        box-shadow: 0 0 2px #ccc inset !important;
      }

      &:nth-child(2) {
        box-shadow: 0 0 2px #ccc inset !important;
      }

      &:last-child {
        box-shadow: 0 0 2px #ccc inset !important;
      }
    }
  }

  .isShowShadow-a {
    a {
      box-shadow: 0 0 2px #ccc inset !important;
      padding: 1px 5px;
    }
  }

  .isShowShadow-header {
    bottom: -12px !important;
  }

  .isShowShadow-left {
    right: -12px !important;
  }

  .isShowShadow-art {
    bottom: -12px !important;
  }
}
